@model IEnumerable<BussinessLayer.Models.CompetetiveClassViewModel>

@{
    ViewData["Title"] = "Index";

}

<h1>@ViewData["CompetitionName"]</h1>

<table class="table m-0">
    <thead>
        <tr>
            <th>Name</th>
            <th>CreatedOn</th>
            <th>Competition</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var competetiveClass in Model)
            {
                <tr>
                    <td>@competetiveClass.Name</td>
                    <td>@competetiveClass.CreatedOn</td>
                    <td>
                        <a asp-controller="Couple" asp-action="Index" asp-route-name="@competetiveClass.Name" class="btn btn-outline-primary">Couples</a>
                        <a asp-action="Details" asp-route-name="@competetiveClass.Name" class="btn btn-outline-primary">Details</a>
                        <a asp-action="Edit" asp-route-name="@competetiveClass.Name" class="btn btn-outline-primary">Edit</a>
                        <a asp-action="Delete" asp-route-name="@competetiveClass.Name" class="btn btn-outline-primary">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a asp-action="Create">Добавете състезателен клас</a>