@model BussinessLayer.Models.CoupleViewModel

@{
    ViewData["Title"] = "Details";
    var couple = Model;
}

<h1>Details</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model.Name)</th>
                <th style="color:red"> @Html.DisplayNameFor(model => model.Place)</th>
                @{
                    foreach (var judge in couple.JudgePlaceList)
                    {
                        <td>@judge.Item1</td>
                    }
                }
                <th> @Html.DisplayNameFor(model => model.CompetetiveClass)</th>
                <th> @Html.DisplayNameFor(model => model.CreatedOn)</th>
                <th> @Html.DisplayNameFor(model => model.UpdatedOn)</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@couple.Name</td>
                <td style="color:red">@couple.Place</td>
                @{
                    foreach (var judge in couple.JudgePlaceList)
                    {
                        <td>@judge.Item2</td>
                    }
                }
                <td>@couple.CompetetiveClass</td>
                <td>@couple.CreatedOn</td>
                <td>@couple.UpdatedOn</td>
                <td>
                    <a asp-action="Delete" asp-route-name="@couple.Name" class="btn btn-outline-primary">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
