@model BussinessLayer.Models.CoupleViewModel

@{
    ViewData["Title"] = "Details";
    var couple = Model;
}

<h1>Детайли за двойка @Model.Name</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Име</th>
                <th style="color:red">Класация</th>
                <th>Сбор</th>
                @{
                    foreach (var judge in couple.JudgePlaceList)
                    {
                        <td>@judge.Item1</td>
                    }
                }
                <th>Състезателен клас</th>
 

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@couple.Name</td>
                <td style="color:red">@couple.Place</td>
                <td>@couple.Sum</td>
                @{
                    foreach (var judge in couple.JudgePlaceList)
                    {
                        <td>@judge.Item2</td>
                    }
                }
                <td>@couple.CompetetiveClass</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Назад към състезателни двойки</a>
</div>
