@using BussinessLayer.Models;
@model IEnumerable<CoupleViewModel>;

@{
    ViewData["Title"] = ViewData["CompetetiveClass"];
}

<h1>@ViewData["CompetetiveClass"] - Двойки</h1>

<p>
    <a asp-controller="CompetetiveClass" asp-action="Index">Назад към класове</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Place</th>
            <th>Name</th>
            <th>CompetetiveClass</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var couple in Model)
            {
                <tr>
                    <td>@couple.Place</td>
                    <td>@couple.Name</td>
                    <td>@couple.CompetetiveClass</td>
                    <td>
                        <a asp-action="Details" asp-route-name="@couple.Name" class="btn btn-outline-primary">Details</a>
                        <a asp-action="Edit" asp-route-name="@couple.Name" class="btn btn-outline-primary">Edit</a>
                        <a asp-action="Delete" asp-route-name="@couple.Name" class="btn btn-outline-primary">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Добавете нова двойка</a>
</p>